<div class="row">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title" [style.color]="productDetail?.Color">Detail of {{productDetail?.Product?.Title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{productDetail?.Distributor}}</h6>
          <p class="card-text">{{productDetail?.Product?.Price}}</p>
          <a (click)="closeDetailScreen()" class="card-link">Close</a>
          <a  class="card-link">Export</a>
        </div>
      </div>
</div>
