<div class="row">
    <div class="col-md-6">
      <app-products 
      [products]="products" 
      (showDetailsEvent)="showDeail($event)">
      </app-products>
      <button class="btn btn-default" 
      (click)="exprttoExcel()">Export to Excel </button>
    </div>
    <div class="col-md-6">
      <app-product-details [productDetail]="productDetails"
       *ngIf="isDetailScreenVisible == true" 
       (iscloseDetailScreenEvent)="closeDetailScreen($event)">
      </app-product-details>
    </div>
   </div>
